body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
}

.main-header {
    position: relative;
    height: 700px;
    background: linear-gradient(90deg, #02041A 6.33%, rgba(2, 4, 26, 0.6) 25.83%, rgba(2, 4, 26, 0.6) 86.77%, #02041A 99.18%);
    width: 100%;
    max-width: 100%;
    list-style-type: none;
    z-index: 1;
    overflow: hidden; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#bg-video {
    position: absolute;
    width: 100%;
    height: 700px;
    object-fit: cover;
    z-index: -1;
    max-height: none;
    max-width: none;
}

.logo-container {
    display: inline-block;
    margin-left: 115px;
    margin-top: 50px;
}

.nav-list {
    margin-left: 115px;
    display: inline-block;
    align-items: center;
    list-style: none;
    margin-top: 50px;
}

.nav-list li {
    display: inline-block;
}

.nav-list li a {
    color: #F8F8F8;
    text-decoration: none;
    padding: 10px 15px;
}

.nav-list li a:hover {
    font-weight: bold;
    text-decoration: none;
}

.cart-trash {
    float: right;
    margin-right: 115px;
    padding-top: 50px;
}
/* Card Section */

.product-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-header {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 80px;

}

#slider {
    margin-top: 150px;
}
.product-section h1 {
    text-align: left;
    padding-left: 115px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
}

.product-section p {
    text-align: left;
    padding-left: 115px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #686868;
    margin-top: 20px;
}

.product-section-brand {
    padding-top: 160px;
}
.product-section-brand h2 {
    text-align: left;
    padding-left: 115px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
}

/* About us */

.about-us {
    padding-top: 150px;
    display: flex;
}


.about-us-tittle h2 {
    text-align: left;
    padding-left: 115px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    white-space: nowrap
}

.about-us-logo {
    margin-top: 180px;
    margin-left: -140px;
}

.about-us-text-main {
    padding-top: 180px;
    padding-left: 210px;
}
.about-us-text-main p {
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 140%;
    margin-bottom: 50px;
    letter-spacing: 0.01em;
    color: #686868;
    width: 100%;
    font-size: 16px;
}

.about-us-text-description {
    white-space: nowrap
}

.img-wallet {
    float: left;
}
.about-us-text-offer {
    float: left;
}

.about-us-text-warranty {
    float: left;

}

.about-us-text-installation{
    float: left;
}

.address-shop {
    padding-top: 150px;

}

.address-shop h2 {
    padding-left: 115px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    white-space: nowrap
}

.map {
    display: flex;
    width: 1100px;
    padding-top: 80px;
    padding-left: 115px;

/* Footer */

}
footer {
    background-color: #001523;
    color: white;
    height: 427px;
    width: 100%;
}

.footer-main {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.footer-main a {
    color: #F8F8F8;
    text-decoration: none;
}

.footer-main li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #F8F8F8;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 20px;
    list-style-type: none;
    text-align: left;
    padding-left: 115px;
}

.footer-tittle li {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #F8F8F8;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer-company {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #F8F8F8;
}

.footer-information {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #F8F8F8;
}

.footer-contacts {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #F8F8F8;
}
.social-networks {
    width: 123px;
    height: 29px;
}

.trademark p {
    text-align: left;
    width: 267px;
    height: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.2);
}